.grid-container
{
    display: grid;

    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);

    gap: 10px;

    grid-template-areas: 
        ". . . . . . . . . . . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball eight-ball . ."
        ". . . . . . . . . . . ."
        ". . interface interface interface . . . . . . ."
        ". . interface interface interface . . . . . . ."
        ;

    height: 90vh;
}

.eight-ball
{
    grid-area: eight-ball;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    border-radius: 50%;
    /* background-color: blue; */
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,0.5046393557422969) 0%, rgba(0,0,0,1) 100%);
}

.interface
{
    grid-area: interface;
}